html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 500;
  margin: 0;
  padding: 0;
  height: 2000px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:not(input):not(button):not(a),
html:not(input):not(button):not(a) {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.blur-up {
  opacity: 0;
  transition: opacity 400ms;
}

.blur-up.lazyloaded,
.blur-up.lazyloading {
  opacity: 1;
}

.primary-pg {
  background: #0073bc;
}

img:not(.logo):not(.bg-image) {
  border-radius: 30px;
  display: block;
  object-fit: cover;
}

@media (min-width: 1450px) {
  .container {
    max-width: 1400px;
  }
}
.color-primary {
  color: #0073bc;
}

.color-light {
  color: #ffffff;
}

.primary-btn {
  padding: 7px 15px;
  display: inline-block;
  width: max-content;
  background: #0073bc;
  color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  border: 0;
}
.primary-btn:hover {
  transform: scale(1.08);
  color: #000;
}
.primary-btn.border-r {
  border-bottom-right-radius: 0;
}

.main-title {
  background: #0073bc;
  color: #ffffff;
  padding: 0.3rem 1rem;
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1.5rem;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  aspect-ratio: 19/6;
}
header .video-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
header .logo {
  position: absolute;
  left: 10%;
  top: 5%;
  z-index: 2;
  padding: 10px 15px;
  width: 230px;
  height: 50px;
  background: #ffffff;
  border-radius: 8px;
}
header .logo img {
  width: 198px;
  height: 30px;
  border-radius: 0 !important;
}
header .bg-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  object-fit: cover;
  z-index: 0;
  border-radius: 0 !important;
}
header .contain {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  stroke: #0073bc;
  text-shadow: 2px 2px 2px #0073bc;
  z-index: 2;
  color: #ffffff;
}
header .contain h1 {
  font-size: 2.4vw;
  font-weight: bold;
  margin-bottom: 1vw;
}
header .contain p {
  font-size: 1.8vw;
  font-weight: bold;
  margin-bottom: 1vw;
}
header .contain ul li {
  font-size: 1.7vw;
  margin-bottom: 1vw;
}
header .contain ul li svg {
  width: 2vw;
  height: auto;
}
header .contain button {
  padding: 0.7vw 1.7vw;
  border-radius: 0.4vw;
  background: #7b7b7b;
  color: #ffffff;
  position: relative;
  font-size: 1.2vw;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
}
header .contain button:focus {
  outline: none;
}
header .contain .crypto {
  background: #0073bc;
}
header .contain .crypto svg {
  width: 10vw;
  margin-top: -2vw;
}
header .contain .crypto svg path {
  stroke: red;
  stroke-width: 9;
  fill: none;
  animation: headline-dash forwards;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes headline-dash {
  0% {
    stroke-dasharray: 0 1500;
    opacity: 1;
  }
  to {
    stroke-dasharray: 1500 1500;
    opacity: 1;
  }
}

.payment-plan {
  padding: 3vw 0;
  text-align: center;
}
.payment-plan .main-title {
  max-width: 96%;
  margin: auto;
  margin-bottom: 1vw;
}
.payment-plan .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3vw 0;
}
.payment-plan .list .item {
  width: 30%;
  margin: 1vw 1.5%;
  display: flex;
  font-size: 1.2vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 15px 15px 15px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.27);
  transition: all 0.2s ease-in-out;
}
.payment-plan .list .item:hover {
  transform: scale(1.05);
}
.payment-plan .primary-btn {
  margin-top: 1vw;
}
.payment-plan .h2 {
  width: 49%;
  font-size: 1.25vw;
  font-weight: bold;
  text-shadow: 1px 1px 10px #0073bc;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: initial;
}
.payment-plan .h2 svg {
  width: 1.5vw;
  height: 1.5vw;
  fill: #0073bc;
}
.payment-plan .h2 span {
  width: calc(100% - 1.8vw);
}

.why-project .info {
  font-size: 1.2vw;
}

.living .list {
  justify-content: space-between;
  flex-wrap: wrap;
}
.living .list .item {
  width: 15.5%;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.living .list .item img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  object-fit: cover;
  border-radius: 0;
}
.living .list .item .info {
  font-size: 1vw;
  padding: 10px;
  text-align: center;
}

.images-section .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.4rem;
}
.images-section .list img {
  width: calc(50% - 0.7rem);
  display: block;
}

.contact-section {
  position: relative;
  padding: 20px 0 50px;
}
.contact-section .contain {
  max-width: 700px;
  margin: auto;
  position: relative;
}
.contact-section .contain .title {
  font-size: 28px;
  font-weight: bold;
  color: #0073bc;
}
.contact-section .contain .info {
  font-weight: 400;
  font-size: 19px;
}

.contact-form .form-group .form-control {
  background: #fff;
  padding: 0.6rem 0.8rem;
  height: 48px;
  color: #0073bc;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #0073bc;
}
.contact-form .form-group .form-control::placeholder {
  color: #0073bc;
  font-size: 14px;
}
.contact-form .form-group .form-control:focus {
  box-shadow: none;
}
.contact-form .form-group textarea.form-control {
  height: 100%;
}
.contact-form .btn-send {
  background: #0073bc;
  box-shadow: 0 0 6px #0073bc;
  border-radius: 9px;
  color: #fff;
  padding: 10px;
  border: 0;
  margin: auto;
  margin-top: 20px;
}
.contact-form .btn-send:focus {
  border: 0;
  outline: none;
}
.contact-form .btn-send:focus, .contact-form .btn-send:hover {
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.copy-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #7b7b7b;
  color: #ffffff;
  padding: 0.6rem 0;
  font-size: 0.9rem;
}
.copy-right p {
  margin-bottom: 0.3rem;
}
.copy-right a {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

.fixed-whatsapp-bottom {
  position: fixed;
  bottom: 30px;
  right: 25px;
  display: block;
  z-index: 11000;
}
.fixed-whatsapp-bottom::before {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0%;
  left: 0%;
  background-color: rgba(48, 183, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  opacity: 0.6;
  animation: pulse 1.5s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.7);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
.fixed-modal-button {
  position: fixed;
  bottom: 30px;
  right: 90px;
  display: flex;
  z-index: 11000;
}

.iti__country-list {
  max-width: 400px;
  overflow-x: hidden;
  white-space: nowrap;
}

.contact-modal {
  padding: 0 !important;
}
.contact-modal .modal-dialog {
  position: relative;
  max-width: 350px;
  margin: auto;
}
.contact-modal .modal-dialog .modal-content {
  background: #f6f3ef;
  box-shadow: 0px 0px 61px rgba(0, 0, 0, 0.1607843137);
  border: 0;
  border-radius: 12px;
  padding: 2rem;
}
.contact-modal .modal-dialog .modal-content .title {
  font-size: 22px;
  color: #0073bc;
  font-weight: bold;
}
.contact-modal .modal-dialog .modal-content .info {
  font-size: 19px;
}
.contact-modal .modal-dialog .modal-content .contact-form .form-group {
  margin: 0.4rem 0;
}
.contact-modal .modal-dialog .modal-content .contact-form .form-group label {
  display: none;
}
.contact-modal .modal-dialog .modal-content .contact-form .form-group .form-control {
  font-size: 12px;
  height: 48px;
  border-radius: 5px;
}
.contact-modal .modal-dialog .modal-content .contact-form .form-group .form-control::placeholder {
  font-size: 12px;
  visibility: visible;
}
.contact-modal .modal-dialog .modal-content .contact-form .form-group .form-control:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}
.contact-modal .modal-dialog .modal-content .contact-form .form-group textarea.form-control {
  height: 125px;
}
.contact-modal .modal-dialog .modal-content .contact-form .btn-send {
  color: #fff;
  background: #0073bc;
  box-shadow: 0px 0px 6px #0073bc;
  border-radius: 9px;
  opacity: 1;
  border: 0;
  height: 45px;
  margin-top: 0.4rem;
}
.contact-modal .modal-dialog .modal-content .contact-form .btn-send:focus {
  outline: none;
}
.contact-modal .modal-dialog .modal-content .contact-form .btn-send:hover {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
}
.contact-modal .modal-dialog .modal-content .col-lg-6 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-now {
  background: #0073bc;
  box-shadow: 0px 0px 6px #0073bc;
  border-radius: 9px;
  color: #fff;
  border: 0;
  padding: 0.4rem 3rem;
}
.order-now:hover {
  outline: none;
  opacity: 0.8;
  transition: all 0.4s ease-in;
}
.order-now:focus {
  outline: none;
}

@media (max-width: 1199.98px) {
  html {
    font-size: 15px;
  }
  .main-title {
    border-radius: 10px;
    font-size: 1.2rem;
  }
  header {
    max-height: 550px;
  }
  header .logo {
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
  }
  header .logo img {
    width: 152px;
    height: 23px;
  }
  header .bg-image {
    max-height: 550px;
  }
  header .contain {
    position: absolute;
    left: 0%;
    top: 55%;
    width: 100%;
  }
  header .contain h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  header .contain p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  header .contain ul li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  header .contain ul li svg {
    width: 20px;
  }
  header .contain button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 1.1rem;
    min-width: 200px;
    align-items: center;
  }
  header .contain .crypto svg {
    width: 150px;
    margin-top: -2rem;
  }
  .payment-plan {
    padding: 1rem 0 2rem;
  }
  .payment-plan .main-title {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .payment-plan .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3vw 0;
  }
  .payment-plan .list .item {
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1rem;
    padding: 1rem 0.5rem;
  }
  .payment-plan .primary-btn {
    margin-top: 1rem;
  }
  .payment-plan .h2 {
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.7;
  }
  .payment-plan .h2 svg {
    width: 20px;
    height: 20px;
  }
  .payment-plan .h2 span {
    width: calc(100% - 25px);
  }
  .why-project .info {
    font-size: 1rem;
  }
  .living .list {
    flex-wrap: wrap;
    max-width: 400px;
    margin: auto;
  }
  .living .list .item {
    width: 48%;
    margin-bottom: 1rem;
  }
  .living .list .item .info {
    font-size: 1rem;
    margin-bottom: 0;
    padding: 0.5rem 1rem;
  }
  .living .list .item img {
    margin-bottom: 0;
  }
  .images-section .list {
    gap: 1rem;
  }
  .images-section .list img {
    width: 100%;
    border-radius: 10px;
  }
  .contact-modal .modal-dialog {
    width: 350px;
    max-width: calc(100% - 30px);
  }
  .contact-modal .modal-dialog .modal-content {
    padding: 1rem;
  }
  .contact-modal .modal-dialog .modal-content .title {
    font-size: 18px;
  }
  .contact-modal .modal-dialog .modal-content .info {
    font-size: 16px;
  }
  .contact-section {
    padding: 20px 0 30px;
  }
  .contact-section .contain .title {
    font-size: 18px;
  }
  .contact-section .contain .info {
    font-size: 16px;
  }
  .contact-form {
    width: 100%;
  }
  .iti__country-list {
    max-width: 300px;
  }
  .order-now {
    padding: 0.4rem 1rem;
  }
}
.iti {
  direction: ltr;
}

.iti.iti--allow-dropdown {
  width: 100%;
}

.iti--allow-dropdown input,
.iti--allow-dropdown input[type=text],
.iti--allow-dropdown input[type=tel],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type=text],
.iti--separate-dial-code input[type=tel] {
  padding-right: 6px !important;
  padding-left: 52px !important;
}

.iti.iti--allow-dropdown.iti--separate-dial-code {
  width: 100%;
}

[dir=rtl] .iti--allow-dropdown .iti__flag-container,
[dir=rtl] .iti--separate-dial-code .iti__flag-container {
  right: auto;
  left: 0;
}

body.rtl {
  direction: rtl;
  text-align: right;
  font-family: "Cairo", sans-serif;
}
body.rtl .fixed-modal-button {
  right: unset;
  left: 90px;
}
body.rtl .fixed-whatsapp-bottom {
  right: unset;
  left: 25px;
}
body.rtl header .logo {
  left: unset;
  right: 10%;
}
body.rtl header .contain {
  left: unset;
  right: 10%;
}
@media (max-width: 1199.98px) {
  body.rtl header .logo {
    left: 50% !important;
    right: unset;
  }
  body.rtl header .contain {
    left: unset;
    right: 0;
  }
}
@media (max-width: 576px) {
  body.rtl .intl-tel-input .country-list {
    left: 50px;
    right: unset;
  }
}

/*# sourceMappingURL=style.css.map */
